body,
html {
    background: linear-gradient(141deg, var(--color-background) 0%, var(--color-background-1) 51%, var(--color-background) 75%);
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: content-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    section {
        position: relative;
        display: block;
        background-color: var(--color-white);

        &.full {
            width: 100%;
            min-height: 100%;
        }

        &.bgColor {
            background: linear-gradient(141deg, var(--color-background) 0%, var(--color-background-1) 70%, var(--color-background) 100%);

            h1 {
                color: var(--color-white);

                span {
                    color: black!important;
                }
            }
        }

        &.bottom-flint {
            padding-bottom: 40px;
        }

        &.top-flint {
            padding-top: 40px;
        }

        .split {
            font-size: 2rem;
            text-align: center;
            padding: 50px 0;
            color: var(--color-background);
        }

        .article {
            &.flex {
                display: flex;
                flex-wrap: wrap;

                &.center {
                    justify-content: space-evenly;
                    align-items: center;
                }
            }

            h1 {
                font-size: 5rem;
                font-weight: 200;
                text-align: center;
                text-transform: uppercase;
                
                span {
                    color: var(--color-background);
                }
            }
            .body {
                font-size: 1.8rem;
                font-weight: 400;
                text-align: center;
                padding: 0 5%;
                width: calc(100% - 10%);

                .points {
                    font-size: 1.8rem;
                    margin-bottom: 25px;

                    .alt {
                        font-size: 1.25rem;
                        opacity: 0.5;
                    }
                }
                
                @include respond(tab-landscape) {
                    padding: 0;
                }

                @include respond(tab-portrait) {
                    padding: 0;
                }
            }

            padding: 80px 20%;
            width: calc(100% - 40%);

            @include respond(tab-landscape){
                padding: 30px 10%;
            }

            @include respond(tab-portrait){
                padding: 30px 5%;
            }
        }
    }

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    .flint {
        position: absolute;
        width: 100%;
        height: 80px;
        bottom: 0;
        left: 0;
        background-color: var(--color-white);
        clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);

        &.top {
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
            bottom: auto;
            top: 0;
        }
        

        .down-arrow {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            height: 40px;
            width: 40px;
            background-color: var(--color-background);
            border-radius: 5px;
            
            i {
                color: var(--color-white);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 25px;
                width: 25px;
                font-size: 25px;
                text-align: center;
            }
        }
    }

    .info-item {
        text-align: center;

        .icon {
            font-size: 8rem;
            height: 150px;
            width: 150px;
            text-align: center;
            line-height: 120px;
            border-radius: 50%;
            position: relative;
            margin: 0 auto;
            color: var(--color-white);
            border: 5px solid var(--color-white);

            &.bgColor {
                background-color: var(--color-background);
                color: var(--color-white)
            }

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        
        .name {
            font-size: 3rem;
            font-weight: 200;
            color: var(--color-white);
            margin-top: 20px;

            &.small {
                font-size: 1.8rem;
                color: var(--color-black);
                font-weight: 400;
            }

            &.title {
                letter-spacing: 3px;
            }

            .alt {
                font-size: 1.5rem;
                opacity: .9;
            }
        }
    }
}