.contact {
    .input {
        width: 50%;
        display: block;
        margin: 0 auto;

        input {
            width: calc(100% - 40px);
            padding: 10px 20px;
            border: 1px solid var(--color-background);
            border-radius: 5px;

            &:focus {
                outline: none;
            }
        }
    }

    &_top {
        margin-bottom: 10px;

        .input {
            display: inline-block;
            width: 25%;

            input {
                width: calc(100% - 50px);
            }
        }
    }

    textarea {
        margin-top: 10px;
        padding-left: 20px;
        padding-top: 10px;
        width: calc(100% - 21px);
        resize: none;
        border: 1px solid var(--color-background);
        border-radius: 5px;

        &:focus {
            outline: none;
        }
    }

    &_send_confirm,
    &_send {
        border: 1px solid var(--color-background);
        width: 50%;
        text-transform: uppercase;
        color: var(--color-background);
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 10px;
        padding: 5px 0;
        cursor: pointer;
    }

    &_send_confirm {
        color: #03BD5B;
        border: 1px solid #03BD5B;
        display: none;
    }

    .alt-contact {
        .or {
            width: 100%;
            text-align: center;
            padding: 25px 0;
        }
        .email strong {
            color: var(--color-background);
        }
    }
}