.intro {
    background-color: transparent;

    .nav {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-white);
        height: 10px;
        -webkit-box-shadow: 0 5px 6px -6px var(--color-shadow);
        -moz-box-shadow: 0 5px 6px -6px var(--color-shadow);
        box-shadow: 0 5px 6px -6px var(--color-shadow);

        .options {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            height: 60px;
            background-color: var(--color-white);
            border-radius: 5px 5px 0 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            @include respond(tab-landscape) {
                transform: translateX(-50%);
                width: 70%;
            }

            @include respond(tab-portrait){
                width: 100%;
                border-radius: 0;
            }

            .option {
                font-size: 1.8rem;
                text-transform: uppercase;
                color: var(--color-background);
                height: 60px;
                cursor: pointer;
                flex: 1;
                line-height: 60px;
                text-align: center;
                text-decoration: none;
                overflow: hidden;
                position: relative;
                transition: color ease 0.3s;
                
                &.active,
                &:hover {
                    color: var(--color-white);

                    &::before {
                        transform: translateY(0);
                        border-radius: 0;
                    }
                }
    
                @include respond(tab-portrait){
                    font-size: .9rem;
                }

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-background);
                    z-index: -1;
                    transform: translateY(100%);
                    transition: all ease 0.3s;
                    border-radius: 100%;
                }
            }
        }

        &.sticky {
            position: fixed;
            top: 0;
            z-index: 1;
            background-color: var(--color-white);
            height: 60px;

            @include respond(tab-portrait){
                padding: 0;
            }

            .options {
                bottom: 0px;
                border-radius: 0;

                .option {
                    height: 60px;
                    line-height: 60px;
                }
            }
        }
    }
}

.sticky + section {
    padding-top: 60px;
}