.intro {
    background-color: transparent;

    .nav {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        .options {
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            @include respond(tab-landscape) {
                transform: translateX(-50%);
                width: 70%;
            }

            @include respond(tab-portrait){
                width: 100%;
                border-radius: 0;
            }

            .option {
                font-size: 1.8rem;
                text-transform: uppercase;
                color: var(--color-white);
                height: calc(60px - 2px);
                cursor: pointer;
                line-height: 60px;
                text-align: center;
                text-decoration: none;
                overflow: hidden;
                position: relative;
                transition: all ease 0.1s;
                margin: 0 25px;
                font-weight: 200;

                &.contact {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                
                &.active,
                &:hover {
                    box-shadow: 0px 2px 0px 0px var(--color-white);

                    /*&::before {
                        transform: translateY(0);
                        border-radius: 0;
                    }*/
                }
    
                @include respond(tab-portrait){
                    font-size: .9rem;
                }

                /*&::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-background);
                    z-index: -1;
                    transform: translateY(100%);
                    transition: all ease 0.3s;
                    border-radius: 100%;
                }*/
            }
        }

        &.sticky {
            position: fixed;
            top: 0;
            z-index: 1;
            background-color: var(--color-white);
            height: 60px;

            @include respond(tab-portrait){
                padding: 0;
            }

            .options {
                bottom: 0px;
                border-radius: 0;

                .option {
                    height: 60px;
                    line-height: 60px;
                    color: var(--color-background);
                    flex: 1;
                    max-width: 200px;

                    &.active,
                    &:hover {
                        box-shadow: none;
                        color: var(--color-white);

                        &::before {
                            transform: translateY(0);
                            border-radius: 0;
                        }
                    }

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--color-background);
                        z-index: -1;
                        transform: translateY(100%);
                        transition: all ease 0.3s;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}

.sticky + section {
    padding-top: 60px;
}