:root {
    // --color-background: #FF6448;
    // --color-background-1: #FE6045;

    --color-background: #185a80;
    --color-background-1: #974646;

    --color-white: #ffffff;
    --color-shadow: #999999;
}

@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 37.5em){ @content } ; //600px
    }
    @if $breakpoint == tab-portrait{
        @media (max-width: 56.25em){ @content } ;  //900px
    }
    @if $breakpoint == tab-landscape{
        @media (max-width: 75em){ @content } ; //1200px
    }
    @if $breakpoint == big-desktop{
        @media (min-width: 112.5em){ @content } ;  //1800px
    }
}